*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(94, 94, 238);
}
.center-div {
  width: 35%; 
  margin: 0 auto; 
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

}
h1 {
    color:rgb(12, 12, 12) ;
    font-size: 50px;
    text-align: center;

}


.table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 50px;
    background-color: #afa5a5;
    }
    
    th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    }
    
    th {
    background-color: #f4f4f4;
    
    }
    
    td {
    color: #333;
    }
    
.modal {
    position:absolute ;
    top: 10;
    left: 10;
    right: 20;
    bottom: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal input {
    margin: 10px;
    padding: 8px;
  }
  
  .modal button {
    margin: 10px;
    padding: 8px 15px;
  }
  
  button {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ca0818;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: #9b7373;
  }